.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }

  .react-player {
    margin: .5rem;
    padding : .5rem;
  }

.small-thumbs {
  width: 150px;
}

.flexy-thumbs {
    /* display: inline-flex;
    flex-wrap: wrap;
    margin: .5rem;  */
}

.downShift {
  margin-top: 100px;
}

.video-player-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
}

.video-container {
  border: 1px solid black;
  border-radius: 5%;
}

.thumb-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3;
   /*  margin: .2rem;
    padding: .5rem */
}

img {
  padding: .5rem;
}